.container {
  display: flex;
  flex-direction: column;

  @media (max-width:1200px) {
    max-width: 740px;
    margin: auto;
  }

  .image {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    img {
      height: 360px;
    }
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 12px;
    margin-right: 12px;
    .productChoiceContainer {
      display: flex;
      flex-direction: column;
    }
    .links {
      margin-bottom: 12px;
      a {
        color: #999999;
        text-decoration: none;
      }
      :nth-child(1) {
        margin-right: 24px;
      }
    }
  }
}
 
@media (min-width: 1200px) {
 .container{
  flex-direction: row;
  margin-top: 48px;
  margin-left: 72px;
  margin-right: 24px;
  justify-content: space-between;
  .image{
    width: 416px;

    img{
      height: 416px;
    }
  }
  .productInfo{
    margin-right: 24px;
    width: 40%;

  }
 }
}
