.container {
  display: flex;
  flex-direction: column;
  .image {
    width: 100%;
    margin-bottom: 12px;
    img {
      height: 360px;
    }
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 12px;
    margin-right: 12px;
    .productChoiceContainer {
      display: flex;
      flex-direction: column;
    }
    .links {
      margin-bottom: 12px;
      a {
        color: #999999;
        text-decoration: none;
      }
      :nth-child(1) {
        margin-right: 24px;
      }
    }
  }
}
